<% if @post.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <h5><%= t('common.errors') %></h5>
        <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="card">
    <div class="card-title">
        <h1><%= header %></h1>
    </div>
    <div class="card-text">
        <%= form_for @post do |f| %>

            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: 'form-control' %>
            </div>

            <div>
                <%= f.label :summary %>
                <%= f.text_area :summary, class: 'form-control' %>
            </div>

            <div>
                <%= f.label :body %>
                <%= f.text_area :body, class: 'form-control' %>
            </div>

            <hr>
            
            <div>
                <%= link_to 'Back', :back %>
                <%= f.submit 'Save', class: 'btn btn-primary' %>
            </div>

        <% end %>
    </div>
</div>