<div class="card">
    <div class="card-title">
        <h1><%= header %></h1>
    </div>
    <div class="card-text">
        <%= form_for @post do |f| %>

            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: 'form-control' %>
            </div>

            <div>
                <%= f.label :summary %>
                <%= f.text_area :summary, class: 'form-control' %>
            </div>

            <div>
                <%= f.label :body %>
                <%= f.text_area :body, class: 'form-control' %>
            </div>

            <hr>
            
            <div>
                <%= f.submit 'Save', class: 'form-control btn btn-primary' %>
            </div>

        <% end %>
    </div>
</div>